<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <title>Task Manager Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{css/app.css}"/>
    <script src="../static/js/jquery-2.2.4.min.js" th:src="@{js/jquery-2.2.4.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Task Manager Application</h1>
            <p>Simple task managing application</p>
            <p><a th:href="@{/tasks}" class="btn btn-primary btn-lg" role="button">Log In</a></p>
        </div>
    </div>
</body>

</html>